<div class="container">
  <h1>THE WORD GAME</h1>
    <div class="game-board">
      <% @letters.each do |variable| %>
        <p class="letter">
          <%= variable %>
        </p>
      <% end %>
    </div>
    <p>What is the longest word you can find?</p>
      <form class="form-inline" action="/score">
        <%= hidden_field_tag :letters, @letters %>
        <div class="form-group">
          <input type="text" name="word">
        </div>
      <button class="button" type="submit" value="Play!">Play!</button>
    </form>
</div>

